#layout {
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    z-index: 1501;

    box-sizing: border-box;
    transition: all 799ms cubic-bezier(0.740, 0.215, 0.125, 1.020);
    transition-timing-function: cubic-bezier(0.740, 0.215, 0.125, 1.020);
    transition-delay: 0.06s;

    background: $black;
    border-right: 1px solid rgba(white, 0.21);
    overflow: hidden;

    &.menu-is-open {
        width: 380px;
        transition-delay: 0s;
    }

    .menu-actions {
        position: relative;
        z-index: 10;
        transition: all 0.4s ease;
        margin-top: 30px;
        width: 80px;

        .menu-toggle {
            width: 30px;
            height: 30px;
            position: relative;
            left: calc(50% - 15px);
            display: block;
            cursor: pointer;
            overflow: hidden;
            z-index: 10;
            transition: height 0.3s ease, transform 0.4s ease;


            span.hamburger,
            span.hamburger:after,
            span.hamburger:before {
                content: "";
                display: block;
                width: 26px;
                height: 2px;
                background: white;
                position: absolute;
                top: 50%;
                margin-top: -1px;
                left: 50%;
                margin-left: -13px;
                transform: rotate(0deg);
                transition: all 0.4s cubic-bezier(0.600, 0.000, 0.200, 1.000);
                transition-timing-function: cubic-bezier(0.600, 0.000, 0.200, 1.000);
                transition-delay: 0s;
            }

            span.hamburger:before {
                margin-top: -7px;
                top: 0;
            }

            span.hamburger:after {
                margin-top: 7px;
                top: 0;
            }

            &:hover span.hamburger {
                width: 18px;
                margin-left: -9px;
            }

            // &:hover span.hamburger {
            //     background: transparent !important;
            //     transition-delay: 0.1s;
            //     transition-duration: 0.2s;
            // }

            // &:hover span.hamburger:before {
            //     transform: rotate(135deg);
            //     margin-top: 0px;
            // }

            // &:hover span.hamburger:after {
            //     transform: rotate(-135deg);
            //     margin-top: 0px;
            // }

        }
    }

    #header-widget.custom {
        transform: rotate(-90deg);
        transform-origin: 0 0;
        color: rgba($white, 0.5);
        font-size: 0.85em;
        width: 350px;
        line-height: 40px;

        position: absolute;
        left: 20px;
        bottom: -10px;
        overflow: hidden;
        transition: all 0.4s ease;
        z-index: 1502;
    }
}

#page-content {
    position: relative;
    width: calc(100% - 80px);
    margin-left: 80px;
    overflow: hidden;

    background: $black;

    transition: left 849ms cubic-bezier(0.740, 0.215, 0.125, 1.020), right 849ms cubic-bezier(0.740, 0.215, 0.125, 1.020);
    transition-delay: 0.06s;
    left: 0;
}

header.menu-is-open {
    &~#page-content {
        left: 300px;
    }
}