#menu-inner {
    width: 100%;

    height: calc(100% - 34px - 100px);
    margin-top: calc(40px + 10px + 34px);

    /* Logo height */
    position: absolute;
    top: 0;
    right: 0;
    -webkit-background-clip: padding-box;
    /* for Safari */
    background-clip: padding-box;
    /* for IE9+, Firefox 4+, Opera, Chrome */
    transition: all 0.3s ease 0.3s;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
}

header.menu-is-open #menu-inner {
    transition-delay: 0.2s;
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
}

nav#main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav#main-nav>ul>li {
    margin: 8px 0;
    display: block;
    padding: 0;
    position: relative;
    left: 0px;
    padding-left: calc(80px + 40px);
    /*80 + 30 */
    transform: translateX(-50px);
    transition: all 0.5s ease;
    transition-delay: 0s;
    opacity: 0;
    visibility: hidden;
}

nav#main-nav>ul>li:first-child {
    margin-top: 0;
}

nav#main-nav>ul>li:last-child {
    margin-bottom: 0;
}



header.menu-is-open nav#main-nav>ul>li {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
}

header.menu-is-open nav#main-nav>ul>li {
    transition-delay: 0.3s;
    $value: 0.3s;
    transition-delay: $value;
    @for $i from 2 through 8 {
      &:nth-child(#{$i}) {
        $value: $value + 0.04s;
        transition-delay: $value;
      }
    }
}

nav#main-nav ul>li>a {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 24px;
    display: inline-block;
    width: auto;
    letter-spacing: 0.0em;
    color: #000000;
    height: 32px;
    line-height: 32px;
    position: relative;
    transition: all 0.3s ease;
    /*overflow: hidden;*/
    vertical-align: bottom;
    /* workaround bottom margin */
    color: $white;
}

nav#main-nav:not(.underline) ul>li>a:hover,
nav#main-nav:not(.underline) ul>li.current_page_item>a {
    color: $white;
}

#menu-inner nav#main-nav>ul>li.small a {
    margin-top: 25px;
    font-size: 14px !important;
}

nav#main-nav ul>li>a small {
    opacity: 0.5;
}

nav#main-nav.underline ul>li>a::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: $white;
    transition: all 0.3s ease;
}

/* Fade In Hover */
nav#main-nav.underline ul>li>a::after {
    left: 0px;
    opacity: 0;
    transform: translateX(-0%);
    transition: all 0.4s ease;
}

nav#main-nav.underline ul>li>a:hover::after,
nav#main-nav.underline ul>li.current_page_item>a::after {
    opacity: 1;
}

/* Slide in Hover */
nav#main-nav.underline.slide ul>li>a::after {
    left: -120px;
    transform: translateX(-101%);
}

header.header-right nav#main-nav.underline.slide ul>li>a::after {
    left: auto;
    right: -120px;
    transform: translateX(101%);
}

nav#main-nav.underline.slide ul>li>a:hover::after,
nav#main-nav.underline.slide ul>li.current_page_item>a::after {
    left: 0px;
    transform: translateX(0%);
}

header.header-right nav#main-nav.underline.slide ul>li>a:hover::after,
header.header-right nav#main-nav.underline.slide ul>li.current_page_item>a::after {
    left: auto;
    right: 0px;
    transform: translateX(0%);
}

nav#main-nav>ul>li ul.sub-menu {
    margin: 0;
    padding: 7px 0 12px 2px;
    display: none;
    width: auto;
}

nav#main-nav ul.sub-menu ul.sub-menu {
    padding: 10px 0 10px 10px;
    margin: 0;
    display: none;
}

header:not(.menu-open) nav#main-nav ul.sub-menu li:last-child>ul.sub-menu {
    padding-bottom: 0;
}

nav#main-nav ul.sub-menu li {
    margin: 3px 0 2px 0;
}

nav#main-nav ul.sub-menu>li>a {
    font-weight: 300;
    font-size: 18px;
    height: 22px;
    line-height: 23px;
}