#menu-inner {
    position: fixed;
    top: 0;
    right: calc(100% - 380px);
    max-width: 380px;
    width: 100%;
    height: 100%;
    padding-top: 84px;
    z-index: 1502;

    transition: all 0.3s ease 0.3s;
    opacity: 0;
    overflow-x: hidden;

    ul:not(.sub-menu)>li {
        margin: 8px 0;
        display: block;
        padding: 0;
        position: relative;
        left: 0px;
        padding-left: calc(80px + 40px);
        transform: translateX(-50px);
        transition: all 0.5s ease;
        transition-delay: 0s;
        opacity: 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        a {
            font-family: 'Poppins';
            font-weight: 300;
            font-size: 24px;
            display: inline-block;
            width: auto;
            letter-spacing: 0.0em;
            color: #000000;
            height: 32px;
            line-height: 32px;
            position: relative;
            transition: all 0.3s ease;
            vertical-align: bottom;
            color: $white;

            &::after {
                content: "";
                position: absolute;
                left: 0px;
                bottom: 0px;

                width: 100%;
                height: 2px;

                background: $white;

                opacity: 0;
                transform: translateX(-0%);
                transition: all 0.4s ease;
            }

            &:hover::after {
                opacity: 1;
            }
        }
    }

    ul.sub-menu {
        margin: 0;
        padding: 7px 0 12px 2px;
        display: none;
        width: auto;

        li {
            margin: 3px 0 2px 0;

            a {
                font-weight: 300;
                font-size: 18px;
                height: 22px;
                line-height: 23px;
            }
        }
    }
}

header.menu-is-open {
    #menu-inner {
        transition-delay: 0.2s;
        opacity: 1;
        overflow-y: auto;

        nav>ul>li {
            transform: translateX(0%);
            opacity: 1;

            $delay: 0.3s;
            transition-delay: $delay;
            transition-delay: $delay;

            @for $i from 2 through 8 {
                &:nth-child(#{$i}) {
                    $delay: $delay + 0.04s;
                    transition-delay: $delay;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    header {

        #menu-inner {
            right: -301px;
            max-width: 300px;
            width: 100%;

            background: $black;

            &::before {
                content: ' ';
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba($white, 0.21);
            }

            ul:not(.sub-menu)>li {
                transform: translateX(50px);
                text-align: right;
                padding: 0 40px;
            }

            ul.sub-menu>li {
                text-align: right;
                padding: 0;
            }
        }
    }

    header.menu-is-open {
        width: auto;

        #menu-inner {
            right: 0;

            ul {
                li {}
            }

        }
    }
}